@font-face {
  font-family: "PPSupplyMono";
  src: url("https://assets.codepen.io/7558/PPSupplyMono-Regular.ttf")
    format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  font-family: "PPSupplyMono", monospace;
  overflow-x: hidden;
}

body {
  position: relative;
  padding-top: 6rem; /* Espaço para o header */
} 